{% load static %}
{% load i18n %}

<header class="header-area formobile-menu header--transparent black-logo-version ">
    <div class="header-wrapper" id="header-wrapper">
        <div class="header-left">
            <div class="logo">
                <a href="index.html">
                    {% if  business.logo %}
                        <img src="{{business.logo.url}}" class="header-logo" alt="{{business.name}}">
                    {% else %}
                        {% translate 'Home' %}
                    {% endif %}
                </a>
            </div>
        </div>
        <div class="header-right">
            <div class="mainmenunav d-lg-block">
                <!-- Start Mainmanu Nav -->
                <nav class="main-menu-navbar">
                    <ul class="mainmenu">
                        <li>
                            <a href="about.html">{% translate "About" %}</a>
                        </li>
                        <li class="has-droupdown">
                            <a href="service.html">{% translate "Our Services" %}</a>
                            <ul class="submenu">
                                <li><a href="service.html">{% translate "Service" %}</a></li>
                                <li><a href="service-details.html">{% translate "Service Details" %}</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="contact.html">{% translate "Portfolio" %}</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </nav>
                <!-- End Mainmanu Nav -->

            </div>
            <div class="header-btn">
                <a class="rn-btn" href="#">
                    <span>{% translate "Quote" %}</span>
                </a>
            </div>
            <!-- Start Humberger Menu  -->
            <div class="humberger-menu d-block d-lg-none pl--20">
                <span class="menutrigger text-white">
            <i data-feather="menu"></i>
        </span>
            </div>
            <!-- End Humberger Menu  -->
            <!-- Start Close Menu  -->
            <div class="close-menu d-block d-lg-none">
                <span class="closeTrigger">
            <i data-feather="x"></i>
        </span>
            </div>
            <!-- End Close Menu  -->
        </div>
    </div>
</header>
