{% load static %}
{% load i18n %}

<header class="header-area formobile-menu header--transparent black-logo-version ">
    <div class="header-wrapper" id="header-wrapper">
        <div class="header-left">
            <div class="logo">
                <a href="{% url 'core:index' %}">
                    {% if  business.logo %}
                        <img src="{{business.logo.url}}" class="header-logo" alt="{{business.name}}">
                    {% else %}
                        {% translate 'Home' %}
                    {% endif %}
                </a>
            </div>
        </div>
        <div class="header-right">
            <div class="mainmenunav d-lg-block">
                <nav class="main-menu-navbar">
                    <ul class="mainmenu">
                        <li>
                            <a href="{% url 'core:about' %}">{% translate "About" %}</a>
                        </li>
                        <li>
                            <a href="{% url 'core:services' %}">{% translate "Our Services" %}</a>
                        </li>
                        {% comment %} <li class="has-droupdown">
                            <a href="service.html">{% translate "Our Services" %}</a>
                            <ul class="submenu">
                                <li><a href="service.html">{% translate "Service" %}</a></li>
                                <li><a href="service-details.html">{% translate "Service Details" %}</a></li>
                            </ul>
                        </li> {% endcomment %}
                        <li>
                            <a href="{% url 'core:portfolio' %}">{% translate "Portfolio" %}</a>
                        </li>
                        <li>
                            <a href="{% url 'core:contact' %}">{% translate "Contact" %}</a>
                        </li>
                    </ul>
                </nav>

            </div>
            {% comment %} <div class="header-btn">
                <a class="rn-btn" href="#">
                    <span>{% translate "Quote" %}</span>
                </a>
            </div> {% endcomment %}
            <div class="humberger-menu d-block d-lg-none pl--20">
                <span class="menutrigger text-white">
            <i data-feather="menu"></i>
        </span>
            </div>
            <div class="close-menu d-block d-lg-none">
                <span class="closeTrigger">
            <i data-feather="x"></i>
        </span>
            </div>
        </div>
    </div>
</header>
