{% extends base_template %}
{% load static %}
{% load i18n %}

{% block content %}
{% include 'snippets/breadcrumb.html' %}


    <main class="page-wrapper">
        <div class="about-area rn-section-gap bg_color--1">
            <div class="about-wrapper">
                <div class="container">
                    <div class="row row--35 align-items-center">
                        <div class="col-lg-5 col-md-12">
                            <div class="thumbnail">
                                <img class="w-100" src="{{about.image_high.url}}" alt="About {{business.name}} Images" />
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-12">
                            <div class="about-inner inner">
                                <div class="section-title">
                                    <h2 class="title">{{about.name}}</h2>
                                    {{about.about_high|safe}}
                                </div>
                                <div class="row mt--30 mt_sm--10">
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                        <div class="about-us-list">
                                            {{about.about_low|safe}}
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="rn-counterup-area rn-section-gapBottom bg_color--1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center">
                            <h3 class="fontWeight500">Our Fun Facts</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="rn-counterup counterup_style--1">
                            <h5 class="counter count">992</h5>
                            <p class="description">The standard chunk of Lorem Ipsum used since the 1500s is
                                reproduced below for those.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="rn-counterup counterup_style--1">
                            <h5 class="counter count">575</h5>
                            <p class="description">The standard chunk of Lorem Ipsum used since the 1500s is
                                reproduced below for those.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="rn-counterup counterup_style--1">
                            <h5 class="counter count">69</h5>
                            <p class="description">The standard chunk of Lorem Ipsum used since the 1500s is
                                reproduced below for those.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="rn-team-area rn-section-gap bg_color--1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title section-title--3 text-center mb--30">
                            <h2 class="title">{% translate "Our Creative Team" %}</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for member in team_members %}
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="team">
                                <div class="thumbnail">
                                    <img src="{{member.image.url}}" alt="Team Images" />
                                </div>
                                <div class="content">
                                    <h4 class="title">{{member.name}}</h4>
                                    <p class="designation">{{member.job_title}}</p>
                                </div>
                                <ul class="social-icon">
                                    {% if member.facebook %}
                                        <li><a href="{{member.facebook}}"><i class="fab fa-facebook-f"></i></a></li>
                                    {% endif %}
                                    {% if member.linkedin %}
                                        <li><a href="{{member.linkedin}}"><i class="fab fa-linkedin-in"></i></a></li>
                                    {% endif %}
                                    {% if member.instagram %}
                                        <li><a href="{{member.instagram}}"><i class="fab fa-instagram-square"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>


        <div class="rn-brand-area brand-separation">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="brand-style-2">
                            <li>
                                <img src="assets/images/brand/brand-01.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="assets/images/brand/brand-02.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="assets/images/brand/brand-03.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="assets/images/brand/brand-04.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="assets/images/brand/brand-05.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="assets/images/brand/brand-06.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="assets/images/brand/brand-02.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="assets/images/brand/brand-03.png" alt="Logo Images" />
                            </li>
                            <li>
                                <img src="assets/images/brand/brand-04.png" alt="Logo Images" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </main>
{% endblock content %}