{% extends base_template %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}

{% include 'snippets/breadcrumb.html' with page_title="Contact" %}

<main class="page-wrapper">
    <!-- Start Contact Address Area  -->
    <div class="rn-contact-address-area rn-section-gap bg_color--5">
        <div class="container">
            <div class="row mt_dec--40 d-flex justify-content-center">
                <!-- Start Single Address  -->
                
                {% if business.phone %}
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                        <div class="rn-address">
                            <div class="icon">
                                <i class="fas fa-phone"></i>
                            </div>
                            <div class="inner">
                                <h4 class="title">{% translate "Contact With Phone Number" %}</h4>
                                <p><a href="tel:{{business.phone}}">{{business.phone}}</a></p>
                                <p><a href="tel:{{business.phone2}}">{{business.phone2}}</a></p>
                                <p><a href="tel:{{business.phone3}}">{{business.phone3}}</a></p>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <!-- End Single Address  -->
                
                {% if business.email %}
                    <!-- Start Single Address  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                        <div class="rn-address">
                            <div class="icon">
                                <i class="fas fa-envelope"></i>
                            </div>
                            <div class="inner">
                                <h4 class="title">{% translate "Email Address" %}</h4>
                                <p><a href="mailto:{{business.email}}">{{business.email}}</a></p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Address  -->
                {% endif %}
                {% if business.address %}
                    <!-- Start Single Address  -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--40">
                        <div class="rn-address">
                            <div class="icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="inner">
                                <h4 class="title">{% translate "Location" %}</h4>
                                <p>{{business.address}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Address  -->
                {% endif %}

            </div>
        </div>
    </div>
    <!-- End Contact Address Area  -->

    <!-- Start Contact Area  -->
    <div class="rn-contact-area rn-section-gap bg_color--1">
        <div class="contact-form--1">
            <div class="container">
                <div class="row row--35 align-items-start">
                    <div class="col-lg-6 order-2 order-lg-1">
                        <div class="section-title text-left mb--50 mb_sm--30 mb_md--30">
                            <h2 class="title">{% translate "Contact Us." %}</h2>
                            <p class="description">{% translate "For more information. Connect with us via phone:" %}
                                <a href="tel:{{business.phone}}">{{business.phone}}</a> {% translate "or email:" %}
                                <a href="mailto:{{business.email}}"> {{business.email}}</a> 
                            </p>
                        </div>
                        <div class="form-wrapper">
                            {% comment %} <form id="contact-form" method="POST" action="mail.php">
                                <label>
                                    <input name="con_name" type="text" name="name" id="item01" placeholder="Your Name *" />
                                </label>

                                <label>
                                    <input name="con_email" type="text" name="email" id="item02" placeholder="Your email *">
                                </label>

                                <label>
                                    <input type="text" name="subject" id="item03" placeholder="Write a Subject">
                                </label>
                                <label>
                                    <textarea name="con_message" id="item04" name="message" placeholder="Your Message"></textarea>
                                </label>
                                <input class="rn-button-style--2 btn_solid" type="submit" value="Send message">
                                <p class="form-messege"></p>
                            </form> {% endcomment %}

                            {% include 'snippets/message.html' %}
                            <form method="post" action="{% url 'core:contact' %}" >
								{% csrf_token %}
                                {% with WIDGET_ERROR_CLASS='is-invalid'  %}
                                    {% for field in form %}
                                        <div class="name-email">
                                            {% comment %} <label for="{{field.id}}" class="required"> {{field.label}} </label> {% endcomment %}
                                            {% render_field field|add_class:"form-control" placeholder=field.label %}
                                            <div class="invalid-feedback">
                                                {{ field.errors }} 
                                            </div>
                                        </div>
                                    {% endfor %} 
                                {% endwith %}   
                                <button type="submit" class="rn-button-style--2 btn_solid">{% trans 'Submit' %}</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2">
                        <div class="thumbnail mb_md--40 mb_sm--40">
                            <img src="{{banner.image.url}}" alt="Contact {{business.name}} image" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Area  -->

</main>

{% endblock content %}