 <!-- Start Page Wrapper  -->
 {% extends 'base.html' %}
 <main class="page-wrapper">
    <!-- Start Gallery Area  -->
    <div class="rn-gallery-area bg_color--1">
        <div class="creative-portfolio-wrapper plr--10">
            <div class="row row row--5">
                <!-- Start Single Portfolio  -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="portfolio-style--3">
                        <div class="thumbnail">
                            <a href="portfolio-details.html">
                                <img class="w-100" src="assets/images/portfolio/portfolio-1.jpg" alt="Portfolio Images">
                            </a>
                        </div>
                        <div class="content">
                            <p class="portfoliotype">Development</p>
                            <h4 class="title"><a href="portfolio-details.html">You can see your Portfolio</a>
                            </h4>
                            <div class="portfolio-btn">
                                <a class="rn-btn text-white" href="portfolio-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Portfolio  -->

                <!-- Start Single Portfolio  -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="portfolio-style--3">
                        <div class="thumbnail">
                            <a href="portfolio-details.html">
                                <img class="w-100" src="assets/images/portfolio/portfolio-2.jpg" alt="Portfolio Images">
                            </a>
                        </div>
                        <div class="content">
                            <p class="portfoliotype">Html</p>
                            <h4 class="title"><a href="portfolio-details.html">Getting tickets to the big
                                    show</a></h4>
                            <div class="portfolio-btn">
                                <a class="rn-btn text-white" href="portfolio-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Portfolio  -->

                <!-- Start Single Portfolio  -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="portfolio-style--3">
                        <div class="thumbnail">
                            <a href="portfolio-details.html">
                                <img class="w-100" src="assets/images/portfolio/portfolio-3.jpg" alt="Portfolio Images">
                            </a>
                        </div>
                        <div class="content">
                            <p class="portfoliotype">Graphic</p>
                            <h4 class="title"><a href="portfolio-details.html">You can see your Portfolio</a>
                            </h4>
                            <div class="portfolio-btn">
                                <a class="rn-btn text-white" href="portfolio-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Portfolio  -->

                <!-- Start Single Portfolio  -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="portfolio-style--3">
                        <div class="thumbnail">
                            <a href="portfolio-details.html">
                                <img class="w-100" src="assets/images/portfolio/portfolio-4.jpg" alt="Portfolio Images">
                            </a>
                        </div>
                        <div class="content">
                            <p class="portfoliotype">Freelancer</p>
                            <h4 class="title"><a href="portfolio-details.html">You can see your Portfolio</a>
                            </h4>
                            <div class="portfolio-btn">
                                <a class="rn-btn text-white" href="portfolio-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Portfolio  -->

                <!-- Start Single Portfolio  -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="portfolio-style--3">
                        <div class="thumbnail">
                            <a href="portfolio-details.html">
                                <img class="w-100" src="assets/images/portfolio/portfolio-5.jpg" alt="Portfolio Images">
                            </a>
                        </div>
                        <div class="content">
                            <p class="portfoliotype">Freelancer</p>
                            <h4 class="title"><a href="portfolio-details.html">The Language of Developer</a>
                            </h4>
                            <div class="portfolio-btn">
                                <a class="rn-btn text-white" href="portfolio-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Portfolio  -->

                <!-- Start Single Portfolio  -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="portfolio-style--3">
                        <div class="thumbnail">
                            <a href="portfolio-details.html">
                                <img class="w-100" src="assets/images/portfolio/portfolio-6.jpg" alt="Portfolio Images">
                            </a>
                        </div>
                        <div class="content">
                            <p class="portfoliotype">Freelancer</p>
                            <h4 class="title"><a href="portfolio-details.html">You can see your Portfolio</a>
                            </h4>
                            <div class="portfolio-btn">
                                <a class="rn-btn text-white" href="portfolio-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Portfolio  -->

                <!-- Start Single Portfolio  -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="portfolio-style--3">
                        <div class="thumbnail">
                            <a href="portfolio-details.html">
                                <img class="w-100" src="assets/images/portfolio/portfolio-7.jpg" alt="Portfolio Images">
                            </a>
                        </div>
                        <div class="content">
                            <p class="portfoliotype">App Development</p>
                            <h4 class="title"><a href="portfolio-details.html">The Language of Developer</a>
                            </h4>
                            <div class="portfolio-btn">
                                <a class="rn-btn text-white" href="portfolio-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Portfolio  -->

                <!-- Start Single Portfolio  -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="portfolio-style--3">
                        <div class="thumbnail">
                            <a href="portfolio-details.html">
                                <img class="w-100" src="assets/images/portfolio/portfolio-8.jpg" alt="Portfolio Images">
                            </a>
                        </div>
                        <div class="content">
                            <p class="portfoliotype">Freelancer</p>
                            <h4 class="title"><a href="portfolio-details.html">You can see your Portfolio</a>
                            </h4>
                            <div class="portfolio-btn">
                                <a class="rn-btn text-white" href="portfolio-details.html">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Portfolio  -->
            </div>
        </div>
    </div>
    <!-- End Gallery Area  -->
</main>