{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info for LANGUAGE_CODE as lang %}
{% get_language_info_list for LANGUAGES as languages %}
{% load custom_tags %}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{business.title}}</title>
    <meta name="keywords" content="{{business.meta_keyword}}">
    <meta name="description" content="{{business.meta_description}}">
    <meta name="author" content="Octopus Consulting" />
    <meta name="robots" content="index,follow" />
    <meta name="apple-mobile-web-app-title" content="{{business.title}}">
    <meta name="application-name" content="{{business.name}}">
    <meta property="og:url" content="" />
    <meta property="og:title" content="{{business.title}}" />
    <meta property="og:type" content="Services" />
    <meta property="og:site_name" content="{{business.name}} | {{business.title}}"/>
    <title>{{business.title}}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{business.favicon.url}}">

    <!-- CSS
	============================================ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/plugins.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>

</head>

<body>
    <div class="main-page">
        <!-- Start Header -->
        {% include 'snippets/header.html' %}
        {% block content %} 

        {% endblock content %}
        <!-- Start Page Wrapper  -->

        {% include 'snippets/footer.html' %}
    </div>

    <!-- JS ============================================ -->
    <!-- Modernizer JS -->
    <script src="{% static 'js/vendor/modernizr.min.js' %}"></script>
    <!-- jQuery JS -->
    <script src="{% static 'js/vendor/jquery.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/vendor/stellar.js' %}"></script>
    <script src="{% static 'js/vendor/particles.js' %}"></script>
    <script src="{% static 'js/vendor/masonry.js' %}"></script>
    <script src="{% static 'js/vendor/stickysidebar.js' %}"></script>
    <script src="{% static 'js/vendor/contactform.js' %}"></script>
    <script src="{% static 'js/plugins/plugins.min.js' %}"></script>
    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    </script>

</body>

</html>